* text=auto eol=lf

*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

yarn.lock -text
